.filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-bottom: 40px;

    @media screen and (min-width: $width-min-tablet) {
        margin-bottom: 30px;
        justify-content: center;
    }
    @media screen and (min-width: $width-min-desktop) {
        margin-bottom: 50px;
    }
}

.filter__item:not(:nth-last-child(-n + 2)) {
    @media screen and (max-width: $width-max-mobile) {
        margin-bottom: 15px;
    }
}

.filter__item:not(:last-child) {
    margin-right: 8px;
}

.filter__btn {
    @extend .btn;
    padding: 6px 22px;
    box-shadow: none;
    background-color: $third-bgc;
    color: $title-color;
    font-weight: 500;    
    line-height: 1.62;
    transition: background-color $duration $timing-function, color $duration $timing-function, box-shadow $duration $timing-function;
    &:hover,
    &:focus {
       background-color: $accent-color;
       color: $primary-white-color;
       box-shadow: 0px 3px 1px $btn-close-border-color, 0px 1px 2px $shadow-fourth-color, 0px 2px 2px $shadow-prime-color;
    }
} 