.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.filter__item:not(:last-child) {
    margin-right: 8px;
}
.filter__btn {
    @extend .btn;
    padding: 6px 22px;
    box-shadow: none;
    background-color: $third-bgc;
    color: $title-color;
    font-weight: 500;
    line-height: 1.62;
    transition: background-color $duration $timing-function, color $duration $timing-function, box-shadow $duration $timing-function;
    &:hover,
    &:focus {
       background-color: $accent-color;
       color: $primary-white-color;
       box-shadow: 0px 3px 1px $btn-close-border-color, 0px 1px 2px $shadow-fourth-color, 0px 2px 2px $shadow-prime-color;
    }
} 