$title-color: #212121;
$primary-text-color: #757575;
$accent-color: #2196f3;
$primary-bgc: #ffffff;
$second-bgc: #2F303A;
$hero-linear-color: rgba(47, 48, 58, 0.4);
$service-overlay-bgc: rgba(47, 48, 58, 0.8);
$btn-box-shadow: rgba(0, 0, 0, 0.15);
$primary-white-color: #ffffff;
$third-bgc: #f5f4fa;
$logo-text-color: #000000;
$btn-hf-color: #188CE8;
$footer-contact-color: rgba(255, 255, 255, 0.6);
$footer-icon-bgc: rgba(255, 255, 255, 0.1);
$footer-input-border-color: rgba(255, 255, 255, 0.3);
$backdrop-bgc: rgba(0, 0, 0, 0.2);
$shadow-prime-color: rgba(0, 0, 0, 0.12);
$shadow-second-color: rgba(0, 0, 0, 0.14);
$shadow-third-color: rgba(0, 0, 0, 0.2);
$shadow-fourth-color: rgba(0, 0, 0, 0.08);
$shadow-fifth-color: rgba(0, 0, 0, 0.06);
$shadow-sixth-color: rgba(0, 0, 0, 0.16);
$btn-close-border-color: rgba(0, 0, 0, 0.1);
$btn-close-icon: #000000;
$placeholder-color: rgba(117, 117, 117, 0.5);
$poster-border-color: #EEEEEE;
$header-border-color: #ECECEC;
$main-icon-fill: #AFB1B8;
$input-border-color: rgba(33, 33, 33, 0.2);
$projects-overlay-bgc: rgba(33, 150, 243, 0.9);
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$duration: 250ms;
$font-family: 'Roboto', sans-serif;
$logo-font: 'Raleway', sans-serif;